Repository Stephen-Collins-tech/intent-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typecheck, pytest, sync-version, check-changelog

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy intent_kit
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: uv run typecheck
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
      - id: sync-version
        name: Sync version between pyproject.toml and __init__.py
        entry: uv run scripts/sync_version.py
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: check-changelog
        name: Check version exists in changelog
        entry: uv run scripts/check_changelog.py
        language: system
        files: pyproject.toml
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.20
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [--no-emit-project]

update dev_coverage script, adds test
  scripts/dev_coverage.py
  scripts/dev_coverage.sh
  tests/intent_kit/evals/test_eval_framework.py
  tests/intent_kit/node/splitters/test_splitter.py
Due: mypy, typecheck, pytest

refactors out of evals node_libary, adds tests
  examples/advanced/eval_api_demo.py
  intent_kit/evals/__init__.py
  intent_kit/evals/run_all_evals.py
  intent_kit/evals/run_node_eval.py
  intent_kit/evals/sample_nodes/__init__.py
  intent_kit/node_library/__init__.py
  intent_kit/node_library/action_node_llm.py
  intent_kit/node_library/classifier_node_llm.py
  intent_kit/node_library/splitter_node_llm.py
  pyproject.toml
  tests/intent_kit/node/classifiers/test_keyword.py
  tests/intent_kit/node/classifiers/test_llm_classifier.py
  tests/intent_kit/node_library/test_action_node_llm.py
  tests/intent_kit/node_library/test_classifier_node_llm.py
  tests/intent_kit/node_library/test_splitter_node_llm.py
Due: mypy, typecheck, pytest, sync-version, check-changelog

adding more tests
  .gitignore
  intent_kit/context/dependencies.py
  tests/intent_kit/builders/test_graph.py
  tests/intent_kit/context/test_dependencies.py
  tests/intent_kit/node/classifiers/test_chunk_classifier.py
  tests/intent_kit/splitters/test_llm_splitter.py
  tests/intent_kit/utils/test_logger.py
  tests/intent_kit/utils/test_perf_util.py
Due: mypy, typecheck, pytest

v0.4.0
  CHANGELOG.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

update README.md
  README.md
Due: none

update README.md (#29)
  README.md
Due: none

remove unused old generate_text llm client method
  intent_kit/services/anthropic_client.py
  intent_kit/services/base_client.py
  intent_kit/services/google_client.py
  intent_kit/services/ollama_client.py
  intent_kit/services/openrouter_client.py
  tests/intent_kit/services/test_anthropic_client.py
  tests/intent_kit/services/test_openai_client.py
  tests/test_ollama_client.py
Due: mypy, typecheck, pytest

refactor package directory structure
  .codecov.yml
  intent_kit/__init__.py
  intent_kit/builders/__init__.py
  intent_kit/builders/action.py
  intent_kit/builders/classifier.py
  intent_kit/builders/graph.py
  intent_kit/graph/builder.py
  intent_kit/graph/graph_components.py
  intent_kit/nodes/__init__.py
  intent_kit/nodes/actions/__init__.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/param_extraction.py
  intent_kit/nodes/actions/remediation.py
  intent_kit/nodes/base_builder.py
  intent_kit/nodes/base_node.py
  intent_kit/nodes/classifiers/__init__.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/classifier.py
  intent_kit/nodes/classifiers/llm_classifier.py
  intent_kit/nodes/classifiers/node.py
  intent_kit/services/llm_factory.py
  intent_kit/utils/node_factory.py
  pyproject.toml
  tests/intent_kit/node/classifiers/test_classifier.py
  tests/intent_kit/node/classifiers/test_llm_classifier.py
  tests/intent_kit/node/test_base.py
  tests/intent_kit/node/test_token_collection.py
  tests/intent_kit/utils/test_node_factory.py
  tests/intent_kit/utils/test_param_extraction.py
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

refactor LLM config and client; add pricing/cost tracking and update tests
  examples/basic/simple_demo.json
  examples/basic/simple_demo.py
  intent_kit/graph/__init__.py
  intent_kit/graph/builder.py
  intent_kit/graph/intent_graph.py
  intent_kit/nodes/actions/__init__.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/param_extraction.py
  intent_kit/nodes/base_builder.py
  intent_kit/nodes/base_node.py
  intent_kit/nodes/classifiers/__init__.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  intent_kit/services/__init__.py
  intent_kit/services/ai/anthropic_client.py
  intent_kit/services/ai/base_client.py
  intent_kit/services/ai/config/__init__.py
  intent_kit/services/ai/google_client.py
  intent_kit/services/ai/llm_factory.py
  intent_kit/services/ai/ollama_client.py
  intent_kit/services/ai/openai_client.py
  intent_kit/services/ai/openrouter_client.py
  intent_kit/services/ai/pricing_service.py
  intent_kit/services/base_client.py
  intent_kit/services/openrouter_client.py
  intent_kit/types.py
  intent_kit/utils/logger.py
  tests/intent_kit/services/test_anthropic_client.py
  tests/intent_kit/services/test_google_client.py
  tests/intent_kit/services/test_openai_client.py
  tests/intent_kit/services/test_pricing_service.py
  tests/intent_kit/test_builders_api.py
Due: mypy, typecheck, pytest

refactor LLM config and client; add pricing/cost tracking and update tests
  examples/basic/simple_demo.py
  examples/error-handling/remediation_demo.py
  intent_kit/context/debug.py
  intent_kit/evals/run_all_evals.py
  intent_kit/evals/run_node_eval.py
  intent_kit/graph/builder.py
  intent_kit/graph/graph_components.py
  intent_kit/graph/intent_graph.py
  intent_kit/graph/validation.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/remediation.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  intent_kit/nodes/types.py
  intent_kit/services/ai/__init__.py
  intent_kit/services/ai/base_client.py
  intent_kit/services/ai/ollama_client.py
  intent_kit/services/ai/pricing_service.py
  intent_kit/utils/__init__.py
  intent_kit/utils/node_factory.py
  tests/intent_kit/builders/test_graph.py
  tests/intent_kit/context/test_context.py
  tests/intent_kit/graph/test_intent_graph.py
  tests/intent_kit/graph/test_single_intent_constraint.py
  tests/intent_kit/node/classifiers/test_classifier.py
  tests/intent_kit/node/test_actions.py
  tests/intent_kit/node/test_base.py
  tests/intent_kit/node/test_enums.py
  tests/intent_kit/node/test_token_collection.py
  tests/intent_kit/services/test_anthropic_client.py
  tests/intent_kit/services/test_google_client.py
  tests/intent_kit/services/test_llm_factory.py
  tests/intent_kit/services/test_openai_client.py
  tests/intent_kit/services/test_pricing_service.py
  tests/intent_kit/services/test_yaml_service.py
  tests/intent_kit/utils/test_logger.py
  tests/intent_kit/utils/test_text_utils.py
  tests/test_eval_api.py
  tests/test_ollama_client.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

fix eval api, mocked currently
  intent_kit/evals/run_node_eval.py
  intent_kit/node_library/__init__.py
  intent_kit/node_library/action_node_llm.py
  intent_kit/node_library/classifier_node_llm.py
  tests/intent_kit/evals/test_run_node_eval.py
Due: mypy, typecheck, pytest

Checkpoint before follow-up message
  examples/error-handling/remediation_demo.py
  intent_kit/nodes/actions/__init__.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/remediation.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  tests/intent_kit/node/classifiers/test_classifier.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

Improve fallback strategies with enhanced matching and LLM config updates
  intent_kit/nodes/actions/remediation.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

linting fix
  docs/development/evaluation.md
  docs/development/testing.md
  examples/error-handling/remediation_demo.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/remediation.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  tests/intent_kit/node/classifiers/test_classifier.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

Refactor remediation strategy to base class (#31)
  docs/development/evaluation.md
  docs/development/testing.md
  intent_kit/nodes/actions/__init__.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/remediation.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

test update ci/cd .codecov.yml and add tests
  .codecov.yml
  intent_kit/evals/run_node_eval.py
  intent_kit/services/loader_service.py
  tests/intent_kit/context/test_context.py
  tests/intent_kit/context/test_dependencies.py
  tests/intent_kit/evals/test_eval_framework.py
  tests/intent_kit/evals/test_run_node_eval_main.py
  tests/intent_kit/graph/test_builder.py
  tests/intent_kit/graph/test_graph_components.py
  tests/intent_kit/node/test_action_builder.py
  tests/intent_kit/node_library/test_action_node_llm.py
  tests/intent_kit/node_library/test_classifier_node_llm.py
  tests/intent_kit/node_library/test_node_library.py
Due: mypy, typecheck, pytest

Add ArgumentExtractor functionality and refactor action nodes with structured parameter extraction, factory pattern, and enhanced cost tracking
  examples/basic/simple_demo.json
  examples/basic/simple_demo.py
  intent_kit/graph/builder.py
  intent_kit/graph/intent_graph.py
  intent_kit/nodes/actions/__init__.py
  intent_kit/nodes/actions/argument_extractor.py
  intent_kit/nodes/actions/builder.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/param_extraction.py
  intent_kit/nodes/base_node.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  intent_kit/services/ai/anthropic_client.py
  intent_kit/services/ai/google_client.py
  intent_kit/services/ai/ollama_client.py
  intent_kit/services/ai/openai_client.py
  intent_kit/services/ai/openrouter_client.py
  intent_kit/services/ai/pricing_service.py
  intent_kit/utils/__init__.py
  intent_kit/utils/node_factory.py
  intent_kit/utils/report_utils.py
  tests/intent_kit/node/test_argument_extractor.py
  tests/intent_kit/services/test_anthropic_client.py
  tests/intent_kit/services/test_openai_client.py
Due: mypy, typecheck, pytest

cleanup, will replace examples for context and remediation functionality
  examples/README.md
  examples/context-debugging/context_demo.json
  examples/context-debugging/context_demo.py
  examples/error-handling/remediation_demo.json
  examples/error-handling/remediation_demo.py
Due: mypy, typecheck, pytest

v0.5.0
  CHANGELOG.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

fixup README.md, .codecov.yml
  .codecov.yml
  README.md
Due: none

update docs, add .codecov config validation script
  .codecov.yml
  .pre-commit-config.yaml
  README.md
  docs/api/api-reference.md
  docs/concepts/intent-graphs.md
  docs/concepts/nodes-and-actions.md
  docs/index.md
  docs/quickstart.md
  examples/basic/simple_demo.py
  intent_kit/__init__.py
  scripts/validate_codecov.py
Due: mypy, typecheck, pytest

update docs, add .codecov config validation script (#32)
  .codecov.yml
  .pre-commit-config.yaml
  README.md
  docs/api/api-reference.md
  docs/concepts/intent-graphs.md
  docs/concepts/nodes-and-actions.md
  docs/index.md
  docs/quickstart.md
  examples/basic/simple_demo.py
  intent_kit/__init__.py
  scripts/validate_codecov.py
Due: mypy, typecheck, pytest

testing codecov config update lazily
  .github/workflows/ci.yml
Due: none

Add performance monitoring docs and remove multi-intent routing example
  docs/concepts/nodes-and-actions.md
  docs/development/documentation-management.md
  docs/development/index.md
  docs/development/performance-monitoring.md
  docs/development/testing.md
  docs/examples/index.md
  docs/examples/multi-intent-routing.md
  docs/index.md
  mkdocs.yml
Due: none

Add security audit workflow and pre-commit hook for dependency checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  scripts/security.py
Due: mypy, typecheck, pytest, sync-version, check-changelog

Add auto-amend hook to stage reformatted files automatically
  .pre-commit-config.yaml
  pyproject.toml
  scripts/auto_amend.py
  scripts/post_commit_amend.py
Due: mypy, typecheck, pytest, sync-version, check-changelog

Configure Black to automatically fix formatting issues
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
Due: none

update pre-commit, CI/CD
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/auto_amend.py
  scripts/lint.py
  scripts/security.py
  uv.lock
Due: mypy, typecheck, pytest

Update project documentation (#33)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/concepts/nodes-and-actions.md
  docs/development/documentation-management.md
  docs/development/index.md
  docs/development/performance-monitoring.md
  docs/development/testing.md
  docs/examples/index.md
  docs/examples/multi-intent-routing.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/auto_amend.py
  scripts/lint.py
  scripts/post_commit_amend.py
  scripts/security.py
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

removes excessive logs, adds structured logging
  .pre-commit-config.yaml
  docs/development/debugging.md
  examples/basic/simple_demo.py
  intent_kit/context/__init__.py
  intent_kit/graph/graph_components.py
  intent_kit/graph/validation.py
  intent_kit/nodes/actions/argument_extractor.py
  intent_kit/nodes/actions/node.py
  intent_kit/nodes/actions/remediation.py
  intent_kit/nodes/classifiers/builder.py
  intent_kit/nodes/classifiers/node.py
  intent_kit/services/ai/llm_factory.py
  intent_kit/services/ai/openai_client.py
  intent_kit/services/ai/openrouter_client.py
  intent_kit/utils/__init__.py
  intent_kit/utils/logger.py
  intent_kit/utils/report_utils.py
  intent_kit/utils/text_utils.py
  scripts/auto_amend.py
  tests/intent_kit/utils/test_logger.py
  tests/intent_kit/utils/test_text_utils.py
  tests/test_remediation.py
Due: mypy, typecheck, pytest

flatten examples directory
  examples/simple_demo.py
Due: mypy, typecheck, pytest

Add audit log trail feature for comprehensive LLM interaction tracking
  docs/audit_log.md
  examples/audit_log_demo.py
  intent_kit/services/ai/anthropic_client.py
  intent_kit/services/ai/base_client.py
  intent_kit/services/ai/google_client.py
  intent_kit/services/ai/ollama_client.py
  intent_kit/services/ai/openai_client.py
  intent_kit/services/ai/openrouter_client.py
Due: mypy, typecheck, pytest
