Repository Stephen-Collins-tech/intent-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typecheck, pytest, sync-version, check-changelog

mypy:
  name: mypy
  entry: uv run mypy intent_kit
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: uv run typecheck
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false

sync-version:
  name: Sync version between pyproject.toml and __init__.py
  entry: uv run scripts/sync_version.py
  language: system
  pass_filenames: false

check-changelog:
  name: Check version exists in changelog
  entry: uv run scripts/check_changelog.py
  language: system
  pass_filenames: false

Add comprehensive test suites for clarification, extractor, and report utils
  tests/intent_kit/nodes/test_clarification.py
  tests/intent_kit/nodes/test_extractor.py
  tests/intent_kit/utils/test_report_utils.py
Due: mypy, typecheck, pytest

adding tests
  intent_kit/evals/run_node_eval.py
  intent_kit/services/ai/__init__.py
  intent_kit/services/ai/anthropic_client.py
  intent_kit/services/ai/base_client.py
  intent_kit/services/ai/google_client.py
  intent_kit/services/ai/llm_response.py
  intent_kit/services/ai/llm_service.py
  intent_kit/services/ai/ollama_client.py
  intent_kit/services/ai/openai_client.py
  intent_kit/services/ai/openrouter_client.py
  intent_kit/services/ai/pricing.py
  intent_kit/services/ai/pricing_service.py
  intent_kit/services/loader_service.py
  intent_kit/types.py
  intent_kit/utils/__init__.py
  intent_kit/utils/typed_output.py
  tests/intent_kit/services/test_anthropic_client.py
  tests/intent_kit/services/test_classifier_output.py
  tests/intent_kit/services/test_google_client.py
  tests/intent_kit/services/test_llm_response.py
  tests/intent_kit/services/test_ollama_client.py
  tests/intent_kit/services/test_openai_client.py
  tests/intent_kit/services/test_pricing.py
  tests/intent_kit/services/test_pricing_service.py
  tests/intent_kit/services/test_structured_output.py
  tests/intent_kit/services/test_typed_output.py
  tests/intent_kit/test_core_types.py
  tests/intent_kit/utils/test_typed_output.py
Due: mypy, typecheck, pytest

lint fix
  tests/intent_kit/nodes/test_clarification.py
  tests/intent_kit/nodes/test_extractor.py
  tests/intent_kit/utils/test_report_utils.py
Due: mypy, typecheck, pytest

adding more tests, doc updates
  docs/api/api-reference.md
  docs/configuration/llm-integration.md
  docs/examples/basic-examples.md
  docs/examples/index.md
  docs/index.md
  docs/structure.json
  tests/intent_kit/core/test_dag.py
  tests/intent_kit/core/test_validation.py
  tests/intent_kit/evals/test_run_all_evals.py
  tests/intent_kit/services/test_llm_response.py
  tests/intent_kit/services/test_loader_service.py
  tests/intent_kit/services/test_openrouter_client.py
Due: mypy, typecheck, pytest

v0.6.0
  CHANGELOG.md
  CONTEXT_REFACTOR_TASKS.md
  TASKS.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

update README.md
  README.md
Due: none

Task/update readme (#37)
  CHANGELOG.md
  CONTEXT_REFACTOR_TASKS.md
  README.md
  TASKS.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

v0.6.0
  CHANGELOG.md
  CONTEXT_REFACTOR_TASKS.md
  README.md
  TASKS.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

v0.6.1
  CHANGELOG.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

improve context, update docs
  README.md
  docs/api/api-reference.md
  docs/concepts/clarification-nodes.md
  docs/concepts/context-management.md
  docs/concepts/dag-validation.md
  docs/concepts/extractor-nodes.md
  docs/concepts/intent-graphs.md
  docs/concepts/nodes-and-actions.md
  docs/configuration/index.md
  docs/configuration/json-serialization.md
  docs/configuration/llm-integration.md
  docs/development/evaluation-framework.md
  docs/development/evaluation.md
  docs/development/performance-monitoring.md
  docs/development/testing.md
  docs/examples/basic-examples.md
  docs/examples/calculator-bot.md
  docs/examples/context-aware-chatbot.md
  docs/examples/context-memory-demo.md
  docs/examples/dag-examples.md
  docs/examples/index.md
  docs/examples/json-demo.md
  docs/index.md
  docs/quickstart.md
  docs/services/ai-services.md
  docs/structure.json
  docs/utils/utilities.md
  examples/context_memory_demo.py
  intent_kit/__init__.py
  intent_kit/core/types.py
  intent_kit/nodes/action.py
  intent_kit/nodes/clarification.py
  intent_kit/nodes/classifier.py
  intent_kit/nodes/extractor.py
  mkdocs.yml
  tests/intent_kit/nodes/test_action.py
  tests/intent_kit/nodes/test_classifier.py
  tests/intent_kit/nodes/test_context_functionality.py
Due: mypy, typecheck, pytest

improve context, update docs (#38)
  README.md
  docs/api/api-reference.md
  docs/concepts/clarification-nodes.md
  docs/concepts/context-management.md
  docs/concepts/dag-validation.md
  docs/concepts/extractor-nodes.md
  docs/concepts/intent-graphs.md
  docs/concepts/nodes-and-actions.md
  docs/configuration/index.md
  docs/configuration/json-serialization.md
  docs/configuration/llm-integration.md
  docs/development/evaluation-framework.md
  docs/development/evaluation.md
  docs/development/performance-monitoring.md
  docs/development/testing.md
  docs/examples/basic-examples.md
  docs/examples/calculator-bot.md
  docs/examples/context-aware-chatbot.md
  docs/examples/context-memory-demo.md
  docs/examples/dag-examples.md
  docs/examples/index.md
  docs/examples/json-demo.md
  docs/index.md
  docs/quickstart.md
  docs/services/ai-services.md
  docs/structure.json
  docs/utils/utilities.md
  examples/context_memory_demo.py
  intent_kit/__init__.py
  intent_kit/core/types.py
  intent_kit/nodes/action.py
  intent_kit/nodes/clarification.py
  intent_kit/nodes/classifier.py
  intent_kit/nodes/extractor.py
  mkdocs.yml
  tests/intent_kit/nodes/test_action.py
  tests/intent_kit/nodes/test_classifier.py
  tests/intent_kit/nodes/test_context_functionality.py
Due: mypy, typecheck, pytest

v0.7.0
  CHANGELOG.md
  intent_kit/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

Migrate docs to GitHub Pages with custom static site generator
  .github/workflows/deploy.yml
  .github/workflows/pages.yml
  README.md
  docs/404.md
  docs/robots.txt
  mkdocs.yml
  pyproject.toml
  scripts/build_docs.py
  scripts/templates/page.html
  uv.lock
Due: mypy, typecheck, pytest, sync-version, check-changelog

Path conditions:
  mypy: any of: \.py$
  typecheck: any of: \.py$
  pytest: any of: \.py$
  sync-version: any of: pyproject.toml
  check-changelog: any of: pyproject.toml
